* {
	font-family:helvetica;
}

html, body {
	margin:0px;
    padding:0px;
	overflow:hidden;
}

ul {
	padding-left:10px;
}

.invisible {
	visibility:hidden;
	pointer-events:none;
	height:0px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
}

#canvas {
	top:0px;
	left:0px;
	position:absolute;
	box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.7);
	background-image: url("map.jpg");
	background-repeat: repeat;
}

#controlsdiv { 
	position:absolute;
	display:inline-block;
	background-color:#eee;
	/* border:2px outset; */
	/* top:10px; */
	left:10px;
	/* box-shadow:3px 3px 10px rgba(0, 0, 0, 0.2); */
	border-radius: 10px;
}
#controlsHeader {
	cursor:move;
	/* background-color:#ccc; */
	padding:6px;
}
#controlsBody {
	padding:8px;
}

#controlsLabel {
	display:inline-block;
	margin:0px;
	font-weight:bold;
	vertical-align:middle;
}
#showHideControls {
	vertical-align:middle;
	float:right;
}

/* input[type=button] {
	margin:4px;
} */

.ButtonControls {
	color: "#fff";
	display:inline-block;
	cursor:pointer;
	font-size:14px;
	border-radius:5px;
	margin:0px;
	padding:2px 4px 2px 4px;
	background-color:#99f;
	/* color:"#fff"; */
	/* word-wrap: normal; */
}

.brSmall {
	display: block;
	margin: 3px 0;

}
/*
#canvasContainer {
    width: auto;
    height: auto;
    margin: 50px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/